@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:regular);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Works fine until 802x570 */
.container {
    padding-bottom: 6rem;
    height: 100vh;
    width: 100vw;
    background: url(images/bg/default1.png) no-repeat center center/cover;
}

header {
    padding-top: 20px;
    /* text-align: center; */
    /* font-family: 'Orbitron'; */
    font-family: 'Permanent Marker', curvisve;
    /* font-family: 'Press Start 2P', cursive; */
    color: rgba(255, 0, 0, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(2px);
    border-radius: 100px;
    padding: 0 18px;
}

.game {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 750px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cringe {
    height: 10%;
    text-align: center;
    margin-top: 20px;
    bottom: 0;

}

#cringe h4 {
    margin: 5px;
    border: 1px solid rgba(255, 0, 0, 0.445);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.452);
    color: red;
    font-family: 'Press Start 2P', cursive;
    padding: 8px;
    backdrop-filter: blur(3px);
}

#cringe button {
    margin: 5px;
    border: 1px solid rgba(255, 0, 0, 0.445);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.452);
    color: red;
    font-family: 'Press Start 2P', cursive;
    padding: 8px;
    backdrop-filter: blur(3px);
}

#cringe button:hover {
    outline: red groove 2px;
}

#cringe button:focus {
    outline: red groove 2px;
}

.hide {
    visibility: hidden;
}